*
{
    font-family: 'Google Sans'
}
body
{
    background-color: #D11B25;    
    color:white;
    overflow: hidden;
}
.container
{
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}
.back
{
    color: #D11B25;
    background-color: white;
    border-color: white;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.back:hover
{
    background-color: darkred;
    color:white;
}