*
{
    font-family: "GoogleSans";
}
#body
{
    display: flex;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-color:rgb(233, 233, 233);
}
.main
{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.login
{   
    background-color: #D11B25;
    border-radius: 2rem;
    border: transparent;
    align-items: center;
    min-width: 330px;
    width: 20%;
    height: 500px;
    padding: 30px;
    text-align: center;
    box-shadow: -4px 4px 10px 5px rgba(0, 0, 0, 0.397);
}
.tflogin
{
    text-align: center;
    border-radius: 2rem;
    border:transparent;
    width: 100%;
    height: 40px;
    color:#D11B25;
    font-size: 20px;
}
#btnLogin
{
    color: #D11B25;
    background-color: white;
    border-color: white;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#btnLogin:hover
{
    background-color: darkred;
    color:white;
}
#recover
{
    position: relative;
    top:20px;
}
#recover:link
{
    color:white;
}
#recover:visited
{
    color:gray;
}
#recover:hover
{
    color: blue;
}
.errormsg
{
    color:white;
}